<div style="background-color: #ddd;padding: 5px 0px 5px 10px;border-radius: 2px;">个人设置 -- 个人信息</div>
<div style="padding: 20px 0px;">
    <div style="text-align: center;">
    <img src="/images/tou.jpg" alt="aaa" style="width: 100px;height: 100px;">
    </div>
    <div style="text-align: center;padding: 10px 0px;">
        <button type="button" class="btn btn-danger">修改头像</button>
    </div>
    <div style="width: 50%;margin: auto;padding: 20px;">
        <p>邮箱:&nbsp; &nbsp;<span style="color: #888;">1015225707@qq.com</span>
            <span class="btn btn-link" style="margin-left: 20px;color: red;" data-toggle="modal" data-target="#infoModel">编辑</span>
        </p>
        <p>昵称:&nbsp; &nbsp;<span style="color: #888;">取墨</span></p>
        <p>性别:&nbsp; &nbsp;<span style="color: #888;">男</span></p>
        <p>出生日期:&nbsp; &nbsp; <span style="color: #888;">1996-01-17</span></p>
        <p>自我介绍:&nbsp; &nbsp;<span style="color: #888;">年轻，便意味着无限的可能！</span></p>
    </div>
</div>

<!-- 模态框 -- 个人信息管理-->
<%- include infoModel %>