<div style="background-color: #ddd;padding: 5px 0px 5px 10px;border-radius: 2px;">收货地址</div>
<div style="padding: 10px 0px;">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addressModal"
            style="width: 150px;" onclick="clearVal()">新增地址
    </button>
</div>
<!--收货地址列表-->
<table class="table table-striped table-hover table-bordered"  id="addresslist">

</table>
<!--模态框 - 地址管理-->
<%- include addressModel %>
