<div style="background-color: #ddd;padding: 5px 0px 5px 10px;border-radius: 2px;">个人设置 -- 个人信息</div>
<div style="padding: 20px 0px;"  id="personalinfo"></div>

<!-- 模态框 -- 个人信息管理-->
<%- include infoModel %>