<div class="bs-footer">
    <div class="container">
        <ul class="list-unstyled center-block">
            <li class="footer-link">
                <ul class="list-inline content-full ">
                    <li><a href="">关于我们</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">商务合作</a></li>
                    <li><a href="">我的微书店</a></li>
                </ul>
            </li>
            <li class="footer-contact">
                <span>客服电话：0592-2928051</span>
                <span>客服电话：0592-2928051</span>
            </li>
            <li class="footer-copyright">33333333333333</li>
        </ul>
    </div>
</div>