<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>书籍详情</title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/details.css">
</head>
<body>
<!--头部导航开始-->
<div class="bs-nav">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="./images/logo.jpg" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav-main-link nav navbar-nav">
                    <li class="active">
                        <a href="#">首页</a>
                    </li>
                    <li><a href="#">分类</a></li>
                    <li><a href="#">排行榜</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="navbar-form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="nav-search-btn">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>
                            </div>
                        </div>
                    </li>
                    <li class="nav-lr-link">
                        <ol class="breadcrumb">
                            <li><a href="#">登录</a></li>
                            <li><a href="#">注册</a></li>
                        </ol>
                    </li>
                    <li class="nav-bs-car">
                        <a href="#">
                            <span></span>
                            <span>购物车</span>
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<!--头部导航结束-->


<div class="container bs-wrap">
    <div class="row">
        <div class="col-md-9">
            <div class="bs-main">
                <div class="product-details content-full">
                    <div class="details-header">
                        <p>当前所在位置:
                            <span>&gt;</span>
                            <a>融智教育</a>
                            <span>&gt;</span>
                            <a>诗词歌赋</a>
                            <span>&gt;</span>
                            <a href="#">纳兰词全集</a>
                        </p>
                    </div>
                    <div class="details-content content-full">
                        <div class="row details-meta">
                            <div class="col-md-3">
                                <img src="./images/54654654.jpg" alt="">
                            </div>
                            <div class="col-md-9">
                                <ul class="list-unstyled book-info">
                                    <li><h4>纳兰词全集</h4></li>
                                    <li>类别：<span>文学艺术</span></li>
                                    <li>作者：<span>纳兰信德</span></li>
                                    <li>版权提供：<span>纳兰信德</span></li>
                                    <li>
                                    <span class="count-input">
                                        <input type="text">
                                        <a href="">+</a>
                                        <a href="">-</a>
                                    </span>
                                    </li>
                                    <li>
                                        <button class="btn btn-danger">加入购物车</button>
                                        <button class="btn btn-default">立即购买</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="book-int">
                            <div class="book-int-header">
                                <h3>简介</h3>
                            </div>
                            <div class="book-int-int">
                                <div><h4>图书简介</h4></div>
                                <p>图书简介图书简介图书简介图书简介图书简介图书简介图书简介图书简介图书简介</p>
                            </div>
                            <div class="book-int-info">
                                <div><h4>基本信息</h4></div>
                                <ul class="list-unstyled">
                                    <li><span>类别：</span><span>类别</span></li>
                                    <li><span>作者：</span><span>类别</span></li>
                                    <li><span>版权提供：</span><span>类别</span></li>
                                </ul>
                            </div>
                            <div class="book-int-author">
                                <div><h4>作者简介</h4></div>
                                <p>图书简介图书简介图书简介图书简介图书简介图书简介图书简介图书简介图书简介</p>
                            </div>
                            <div class="book-int-com">
                                <div><h4>图书评论</h4></div>
                                <p>
                                <ul class="evaluation-list list-unstyled">
                                    <li class="evaluation-item content-full">
                                        <div class="evaluation-item-header content-full">
                                            <span>共有1条评论</span>
                                            <span>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                            </span>
                                        </div>
                                        <div class="evaluation-item-left pull-left content-full">
                                            <img src="./images/txicon.jpg" alt="">
                                            <div>
                                                <span>豪豪</span>
                                                <span>好看的书</span>
                                            </div>
                                        </div>
                                        <div class="evaluation-item-right pull-right">
                                            <span class="evaluation-item-time">2016-06-02 10:48:35</span>
                                        </div>
                                    </li>
                                    <li class="evaluation-item content-full">
                                        <div class="evaluation-item-header content-full">
                                            <span>共有1条评论</span>
                                            <span>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                            </span>
                                        </div>
                                        <div class="evaluation-item-left pull-left content-full">
                                            <img src="./images/txicon.jpg" alt="">
                                            <div>
                                                <span>豪豪</span>
                                                <span>好看的书</span>
                                            </div>
                                        </div>
                                        <div class="evaluation-item-right pull-right">
                                            <span class="evaluation-item-time">2016-06-02 10:48:35</span>
                                        </div>
                                    </li>
                                    <li class="evaluation-item content-full">
                                        <div class="evaluation-item-header content-full">
                                            <span>共有1条评论</span>
                                            <span>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                            </span>
                                        </div>
                                        <div class="evaluation-item-left pull-left content-full">
                                            <img src="./images/txicon.jpg" alt="">
                                            <div>
                                                <span>豪豪</span>
                                                <span>好看的书</span>
                                            </div>
                                        </div>
                                        <div class="evaluation-item-right pull-right">
                                            <span class="evaluation-item-time">2016-06-02 10:48:35</span>
                                        </div>
                                    </li>
                                    <li class="evaluation-item content-full">
                                        <div class="evaluation-item-header content-full">
                                            <span>共有1条评论</span>
                                            <span>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                            </span>
                                        </div>
                                        <div class="evaluation-item-left pull-left content-full">
                                            <img src="./images/txicon.jpg" alt="">
                                            <div>
                                                <span>豪豪</span>
                                                <span>好看的书</span>
                                            </div>
                                        </div>
                                        <div class="evaluation-item-right pull-right">
                                            <span class="evaluation-item-time">2016-06-02 10:48:35</span>
                                        </div>
                                    </li>
                                    <li class="evaluation-item content-full">
                                        <div class="evaluation-item-header content-full">
                                            <span>共有1条评论</span>
                                            <span>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                                <i class="glyphicon glyphicon-asterisk"></i>
                                            </span>
                                        </div>
                                        <div class="evaluation-item-left pull-left content-full">
                                            <img src="./images/txicon.jpg" alt="">
                                            <div>
                                                <span>豪豪</span>
                                                <span>好看的书</span>
                                            </div>
                                        </div>
                                        <div class="evaluation-item-right pull-right">
                                            <span class="evaluation-item-time">2016-06-02 10:48:35</span>
                                        </div>
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="bs-page text-center">
                    <a class="btn btn-default">共有3页</a>
                    <a class="btn btn-default">首页</a>
                    <a class="btn btn-default">上一页</a>
                    <a class="btn btn-default">1</a>
                    <a class="btn btn-default">2</a>
                    <a class="btn btn-default">3</a>
                    <a class="btn btn-default">下一页</a>
                    <a class="btn btn-default">尾页</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="bs-aside">
                <h3 class="aside-header">排行榜</h3>

                <div class="product-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab-pane-bestseller" aria-controls="tab-pane-bestseller" role="tab"
                               data-toggle="tab">畅销榜</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-pane-newest" aria-controls="tab-pane-newest" role="tab"
                               data-toggle="tab">新书榜</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tab-pane-bestseller">
                            <ul class="list-unstyled pane-group">
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">01</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">02</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">04</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">05</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">06</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">07</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">08</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">09</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">10</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>

                                <li class="pane-full-link content-full">
                                    <span><a href="">查看完整榜单 > ></a></span>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab-pane-newest">
                            <ul class="list-unstyled pane-group">
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">01</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">02</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">04</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">05</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">06</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">07</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">08</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">09</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>
                                <li class="pane-item">
                                    <a class="content-full">
                                        <p class="pane-no">10</p>
                                        <p class="pane-content">
                                            <span>你是那人间的四月天</span>
                                            <span>刘振飞</span>
                                        </p>
                                        <p class="pane-price">￥14.00</p>
                                    </a>
                                </li>

                                <li class="pane-full-link content-full">
                                    <span><a href="">查看完整榜单 > ></a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="bs-footer">
    <div class="container">
        <ul class="list-unstyled center-block">
            <li class="footer-link">
                <ul class="list-inline content-full ">
                    <li><a href="">关于我们</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">商务合作</a></li>
                    <li><a href="">我的微书店</a></li>
                </ul>
            </li>
            <li class="footer-contact">
                <span>客服电话：0592-2928051</span>
                <span>客服电话：0592-2928051</span>
            </li>
            <li class="footer-copyright">33333333333333</li>
        </ul>
    </div>
</div>

<script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="./lib/layer/layer.js"></script>
<script src="./js/index.js"></script>
</body>
</html>