<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lgre.css">
</head>
<body>

<div class="bs-login">
    <div class="login-header">
        <img src="/images/loginlogo.png" alt="">
    </div>
    <div class="login-con">
        <div class="login-con-header content-full">
            <h3 class="pull-left">注册</h3>
            <p class="pull-right">已有账号，<a href="/user/login">去登陆</a></p>
        </div>
        <div class="row">
            <div class="login-con-left col-xs-6">
                <form action="/user/register" method="post" onsubmit="return registersubmit()">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="请输入邮箱" name="email" id="emailregister">
                        <div id="registeremail" style="color: red;text-align: right;"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入密码"  name="password" id="passwordregister">
                        <div id="registerpassword" style="color: red;text-align: right;"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="确认密码"  name="repassword" id="repasswordregister">
                        <div id="registerrepassword" style="color: red;text-align: right;"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入昵称"   name="nickname" id="nicknameregister">
                        <div id="registernickname" style="color: red;text-align: right;"></div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 同意 <span><a href="">融智教育登录服务协议</a></span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">注册</button>
                </form>
            </div>
            <div class="login-con-right col-xs-6">
                <img src="/images/lietu.jpg" alt="">
            </div>
        </div>

    </div>

</div>


<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/layer/layer.js"></script>
<script>

    var error = "<%= locals.error %>";
    var success = "<%= locals.success %>";

    if(error){
        layer.msg(error);
    }
    if(success){
        layer.msg(success);
    }
    function registersubmit(){
        var email=$("#emailregister").val();
        var password=$("#passwordregister").val();
        var repassword=$("#repasswordregister").val();
        var nickname=$("#nicknameregister").val();
        var ifsubmit=true;
        if(email==""){
            $("#registeremail").html("请输入邮箱！");
            ifsubmit=false;
        }else{
            $("#registeremail").html("");
        }
        if(password==""){
            $("#registerpassword").html("请输入密码！");
            ifsubmit=false;
        }else{
            $("#registerpassword").html("");
        }
        if(repassword==""){
            $("#registerrepassword").html("请再次输入密码！");
            ifsubmit=false;
        }else{
            $("#registerrepassword").html("");
        }
        if(nickname==""){
            $("#registernickname").html("请输入昵称！");
            ifsubmit=false;
        }else{
            $("#registernickname").html("");
        }
        return ifsubmit;
    }
</script>
</body>
</html>