<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lgre.css">
</head>
<body>

<div class="bs-login">
    <div class="login-header">
        <img src="/images/loginlogo.png" alt="">
    </div>
    <div class="login-con">
        <div class="login-con-header content-full">
            <h3 class="pull-left">注册</h3>
            <p class="pull-right">已有账号，<a href="/user/login">去登陆</a></p>
        </div>
        <div class="row">
            <div class="login-con-left col-xs-6">
                <form action="/user/login">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 同意 <span><a href="">融智教育登录服务协议</a></span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block">注册</button>
                </form>
            </div>
            <div class="login-con-right col-xs-6">
                <img src="/images/lietu.jpg" alt="">
            </div>
        </div>

    </div>
    <div class="login-footer">
        <p>ccsdcscscscscsccscscscsc</p>
    </div>
</div>


<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/layer/layer.js"></script>

</body>
</html>