html {
    min-width: 1300px;
    height: 100%;
}

body {
    min-width: 1300px;
    height: 100%;
}

.wrap-all {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -180px;
    /*margin-bottom的负值等于footer高度*/
}

.push-footer {
    height: 180px;
    clear: both;
}

.container {
    min-width: 1170px;
}

.content-full::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content-full::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

a {
    text-decoration: none;
}