@import "base.css";
@import "nav.css";
@import "rankAside.css";
@import "footer.css";
@import "./box/bootstrap-grid.min.css";
@import "./box/box.css";
@import "./box/font-awesome.min.css";

/*轮播图开始*/
.bs-lunbo {
    background-color: #696768;
    margin-bottom: 30px;
}

.bs-content {

}

/*推荐好书*/
.product-rec {
    margin-bottom: 30px;
}

.product-rec .product-rec-header {
    border-bottom: 2px solid #ccc;
}

.product-rec .product-rec-header h3 {
    margin: 0px 0 5px 0;
    font-size: 22px;
    line-height: 26px;
}

.product-rec .product-rec-header div {
    margin: 0px 0 5px 0;
}

.product-rec .product-rec-header div a {
    line-height: 26px;
    font-size: 15px;
    color: #555;
    text-decoration: none;
}

.product-rec .product-rec-content {

}

.product-rec .product-rec-content .product-rec-group {
    margin-bottom: 0;
}

.product-rec .product-rec-content .product-rec-group .product-rec-item {
    padding-top: 20px;
    margin-bottom: 20px;
}

.product-rec .product-rec-content .product-rec-group .product-rec-item .media .media-body {
    padding-left: 15px;
}

.product-rec .product-rec-content .product-rec-group .product-rec-item .media .media-body .media-heading {
    font-size: 17px;
    line-height: 40px;
    margin-bottom: 0;
}

.product-rec .product-rec-content .product-rec-group .product-rec-item .media .media-body .media-author {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
}

.product-rec .product-rec-content .product-rec-group .product-rec-item .media .media-body .media-contnet {
    height: 50px;
    line-height: 25px;
    font-size: 12px;
    color: #999;
}

.product-rec .product-rec-content .product-rec-group .product-rec-item .media .media-body .media-footer button {
    letter-spacing: 3px;

}

/*广告banner*/
.product-banner {
    margin-bottom: 50px;
    overflow: hidden;
}

.product-banner img {
    height: 100%;
    width: auto;
}

/*最新商品*/
.product-newest {
    margin-bottom: 30px;
}

.product-newest .product-newest-header {
    border-bottom: 2px solid #ccc;
}

.product-newest .product-newest-header h3 {
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 5px 0;
}

.product-newest .product-newest-header div {
    margin: 0 0 5px 0;

}

.product-newest .product-newest-header div a {
    line-height: 26px;
    font-size: 15px;
    color: #555;
    text-decoration: none;
}

.product-newest .product-newest-content {

}

.product-newest .product-newest-content .product-newest-group {
    margin-bottom: 0;
    padding-top: 20px;
}

.product-newest .product-newest-content .product-newest-group .product-newest-item {
    margin-bottom: 20px;
}

.product-newest .product-newest-content .product-newest-group .product-newest-item .thumbnail {
    border: none;
    margin: 0;
}

.product-newest .product-newest-content .product-newest-group .product-newest-item .thumbnail .caption {
    padding: 9px 0 0 0;
}

.product-newest .product-newest-content .product-newest-group .product-newest-item .thumbnail .caption .thumbnail-name {
    font-size: 14px;
    margin: 0;
    line-height: 22px;
}

.product-newest .product-newest-content .product-newest-group .product-newest-item .thumbnail .caption .thumbnail-autor {
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 22px;

}

.product-newest .product-newest-content .product-newest-group .product-newest-item .thumbnail .caption .thumbnail-price {
    display: block;
    color: #F64E72;
    line-height: 22px;
}




