<div class="col-md-3 col-xs-3 " style="padding: 0px;">

        <ul class="nav nav-tabs" role="tablist" id="tabul">
            <li><a>个人中心</a></li>
            <li role="presentation" class="active"><a href="#collect" role="tab" data-toggle="tab">我的收藏</a></li>
            <li role="presentation"><a href="#indent" role="tab" data-toggle="tab"onclick="showTable();">我的订单</a></li>
            <li role="presentation"><a href="#setting" role="tab" data-toggle="tab">个人设置</a></li>
            <li role="presentation"><a href="#privacy" role="tab" data-toggle="tab">隐私设置</a></li>
            <li role="presentation"><a href="#address" aria-controls="settings" role="tab" data-toggle="tab">地址管理</a></li>
        </ul>

</div>