<ul style="margin: 0px;padding: 0px;list-style: none;" id="detailUl">
    <li>
        <!--订单详情内容 -- 待付款 -->
        <div class="tab-content col-md-12 col-xs-12 ">
            <!--提示付款-->
            <div class="row" style="line-height: 28px">
                <div class="col-md-3">订单号:<span style="color: red;margin-right: 20px;">8888888</span></div>
                <div class="col-md-3">订单状态:<span style="color: red;">未完成</span></div>
                <div class="col-md-6"></div>
                <div class="col-md-12">收货地址: <span>河南省郑州市 -- 前程北路八号</span></div>
                <div class="col-md-12">收件人: <span>wanghao</span></div>
                <div class="col-md-12">收件电话: <span>15638836385</span></div>
                <div class="col-md-8"></div>
                <div class="col-md-2" style="text-align: right;"><button class="btn btn-danger" style="width: 100px;">立即付款</button></div>
                <div class="col-md-2"><button class="btn btn-default" style="width: 100px;">取消订单</button></div>
            </div>
            <div style="margin-top: 20px;background-color: #eee;" class="row">
                <!--购买详情-->
                <div  class="col-md-12" style="line-height: 40px;">
                    <div class="col-md-6">购买信息</div>
                    <div class="col-md-2">金额</div>
                    <div class="col-md-2">数量</div>
                    <div class="col-md-2">小计</div>
                </div>
                <div  class="col-md-12" style="line-height: 80px;background-color: #fff;padding: 10px 0px;">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <div style="height: 80px;width: 65px;background-color: yellow;"></div>
                        </div>
                        <div class="col-md-8">
                            小道理:分寸之间 冯仑
                        </div>
                    </div>
                    <div class="col-md-2">￥55.00</div>
                    <div class="col-md-2">2</div>
                    <div class="col-md-2">￥110.00</div>
                </div>
                <div  class="col-md-12" style="height: 100px;">
                    <div class="col-md-7"></div>
                    <div class="col-md-5" style="font-size: 18px;">
                        <div style="height: 50px;line-height: 50px;">商品金额总计：<span style="color: red;">￥110.00</span></div>
                        <div style="height: 50px;line-height: 50px;">应付金额：<span style="color: red;">￥110.00</span></div>
                    </div>
                </div>
                <div  class="col-md-12" style="line-height:30px;background-color: #fff;color: red;text-align: right;font-size: 18px;"><span onclick="showTable()" style="cursor: pointer;">返回》</span></div>
            </div>
        </div>
    </li>
    <li>
        <!--订单详情内容 -- 确认收货 -->
        <div class="tab-content col-md-12 col-xs-12 ">
            <!--提示收货-->
            <div class="row" style="line-height: 28px">
                <div class="col-md-3">订单号:<span style="color: red;margin-right: 20px;">8888888</span></div>
                <div class="col-md-3">订单状态:<span style="color: red;">未完成</span></div>
                <div class="col-md-6"></div>
                <div class="col-md-12">收货地址: <span>河南省郑州市 -- 前程北路八号</span></div>
                <div class="col-md-12">收件人: <span>wanghao</span></div>
                <div class="col-md-12">收件电话: <span>15638836385</span></div>
                <div class="col-md-12">快递信息: <span>圆通快递 -- 派送员：王**</span></div>
                <div class="col-md-12" style="text-align: right;"><button class="btn btn-danger" style="width: 100px;">确认收货</button></div>
            </div>

            <div style="margin-top: 20px;background-color: #eee;" class="row">
                <!--购买详情-->
                <div  class="col-md-12" style="line-height: 40px;">
                    <div class="col-md-6">购买信息</div>
                    <div class="col-md-2">金额</div>
                    <div class="col-md-2">数量</div>
                    <div class="col-md-2">小计</div>
                </div>
                <div  class="col-md-12" style="line-height: 80px;background-color: #fff;padding: 10px 0px;">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <div style="height: 80px;width: 65px;background-color: yellow;"></div>
                        </div>
                        <div class="col-md-8">
                            小道理:分寸之间 冯仑
                        </div>
                    </div>
                    <div class="col-md-2">￥55.00</div>
                    <div class="col-md-2">2</div>
                    <div class="col-md-2">￥110.00</div>
                </div>
                <div  class="col-md-12" style="height: 100px;">
                    <div class="col-md-7"></div>
                    <div class="col-md-5" style="font-size: 18px;">
                        <div style="height: 50px;line-height: 50px;">商品金额总计：<span style="color: red;">￥110.00</span></div>
                        <div style="height: 50px;line-height: 50px;">应付金额：<span style="color: red;">￥110.00</span></div>
                    </div>
                </div>
                <div  class="col-md-12" style="line-height:30px;background-color: #fff;color: red;text-align: right;font-size: 18px;"><span onclick="showTable()" style="cursor: pointer;">返回》</span></div>
            </div>
        </div>
    </li>
    <li>
        <!--订单详情内容 -- 评价 -->
        <div class="tab-content col-md-12 col-xs-12 ">
            <!--提示付款-->
            <div class="row" style="line-height: 28px">
                <div class="col-md-3">订单号:<span style="color: red;margin-right: 20px;">8888888</span></div>
                <div class="col-md-3">订单状态:<span style="color: red;">已完成</span></div>
                <div class="col-md-6"></div>
                <div class="col-md-12">收货地址: <span>河南省郑州市 -- 前程北路八号</span></div>
                <div class="col-md-12">收件人: <span>wanghao</span></div>
                <div class="col-md-12">收件电话: <span>15638836385</span></div>
                <div class="col-md-12">快递信息: <span>圆通快递 -- 派送员：王**</span></div>
            </div>

            <div style="margin-top: 20px;background-color: #eee;" class="row">
                <!--购买详情-->
                <div  class="col-md-12" style="line-height: 40px;">
                    <div class="col-md-6">购买信息</div>
                    <div class="col-md-2">金额</div>
                    <div class="col-md-2">数量</div>
                    <div class="col-md-2">小计</div>
                </div>
                <div  class="col-md-12" style="line-height: 80px;background-color: #fff;padding: 10px 0px;">
                    <div class="col-md-6 row">
                        <div class="col-md-4">
                            <div>
                                <img src="/images/tou.jpg" style="height: 80px;width: 65px;">
                            </div>
                        </div>
                        <div class="col-md-8">
                            小道理:分寸之间
                        </div>
                    </div>
                    <div class="col-md-2">￥55.00</div>
                    <div class="col-md-2">2</div>
                    <div class="col-md-2">￥110.00</div>
                    <div class="col-md-12" style="text-align: right;padding: 0px;line-height: 30px;">
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#orderModal" >我要评论</button>
                    </div>
                </div>
                <div  class="col-md-12" style="height: 100px;">
                    <div class="col-md-7"></div>
                    <div class="col-md-5" style="font-size: 18px;">
                        <div style="height: 50px;line-height: 50px;">商品金额总计：<span style="color: red;">￥110.00</span></div>
                        <div style="height: 50px;line-height: 50px;">应付金额：<span style="color: red;">￥110.00</span></div>
                    </div>
                </div>
                <div  class="col-md-12" style="line-height:30px;background-color: #fff;color: red;text-align: right;font-size: 18px;"><span onclick="showTable()" style="cursor: pointer;">返回》</span></div>
            </div>
        </div>
    </li>
</ul>
<%include orderModel.ejs %>

