<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="orderModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">评论一下吧~</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group" style="padding: 10px 0px;">
                        <span style="font-weight: 700;">评分:</span>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions">1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" checked>2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions">3
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">详细地址:</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <button style="width: 150px;height: 40px;" class="btn btn-danger">发表评论</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->